/*reset*/

* {
	margin:0;
	padding:0;
}

body {
	background:#ece9e8;
	text-align:center;
	position:relative;
}

/*header*/

header {
	margin-bottom:10px;
}

h1 {
	padding:30px;
	color:#5a5248;
	font-size:40px;
	font-family:"Monotype Corsiva", Times, serif; 
}

/*section*/

section {
	padding-bottom:50px;
}

.slide {
	width:600px;
	height:350px;
	border:15px solid  #d9bfa5;
	margin:auto;
	overflow:hidden;
	position:relative;
}

ul {
	width:3000px;
	height:350px;
	position:absolute;
	left:0;
	transition:left 0.5s;
}

ul li {
	float:left;
}

img {
	width:600px;
	height:350px;
	cursor:pointer;

}

/*btn slide*/

button {
	position:absolute;
	font-size:25px;
	width:40px;
	height:40px;
	border-radius:50%; 
	border:none;
	background:#f2f2f2;
	top:50%;
	color:#d9bfa5;
	cursor:pointer;
	box-shadow:2px 2px;
}

.left {
	left:20%;
}

.right {
	right:20%;
}

.slide_2, .slide_3, .slide_4, .slide_5 {
	display:block;
}

/*footer*/

footer {
	text-align:right;
	padding-right:20px;
	color:#5a5248;
	height:37px;
}

/*modal*/

.modalImg {
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#ece9e8;
	opacity:0.9;
}

.modalImg img {
	position:absolute;
	top:25%;
	left:12%;
	border:15px solid  #d9bfa5;
	width:480px;
	height:280px;
}

.explanation {
	width:400px;
	height:300px;
	position:absolute;
	top:32%;
	right:10%;
}

.explanation pre {
	font-weight:bold;
	text-align:left;
	line-height:3;
	font-size:15px;
}

.modalBtn {
	width:20px;
	border-radius:8px;
	width:80px;
	top:85%;
	font-size:18px;
}

.bold {
	font-size:17px;
}
