* {
	margin:0;
	padding:0;
}

.wrap {
	width:100%;
	height:100%;
}

h1 {
	font:40px 궁서체;
	position:absolute;
}

h2 {
	font:17px 궁서체;
	position:absolute;
}

a {
	text-decoration:none;
	display:inline-block;
}

p {
	position:absolute;
}

/*main*/

main {
	background:url(img/backgroundImg.png) no-repeat center;
	width:100%;
	height:100%;
	color:#fff;
	text-align: center;
	position:relative;
}

/*header*/

header {
	width:100%;
	height:100px;
	padding:20px 0;
}

.logo {
	width:230px;
	float:left;
	padding:0 10px;
	cursor:pointer;
}

/*menu*/

.menu {
	width:55%;
	float:right;
	margin-top:10px;
}

.li {
	width:25%;
	float:left;
	padding:10px 0;
	position:relative;
	cursor:pointer;
	transition-duration:0.7s;
}

.li:hover {
	background:#383A3F;
}

.sub_menu {
	display:none;
	position:absolute;
	top:36px;
	width:100%;
	transition-duration:0.7s;
}

.sub_menu li {
	cursor:pointer;
	transition-duration:0.7s;
}

.sub_menu li a {
	width:173.71px;
	padding:10px 0;
	color:#fff;
	cursor:pointer;
	background:#383A3F;
}

.sub_menu li:hover {
	opacity:0.8;
}


/*main_box*/

.main_box {
	width:100%;
	height:628px;
	opacity:0;
	transition-duration:3s;
}

.main_box > h1 {
	top:35%;
	left:43%;
	letter-spacing:40px;
}

.main_box > h2 {
	top:45%;
	left:45%;
	line-height:1.5;
    letter-spacing:3px;
}

.main_button {
	cursor:pointer;
	width:45px;
	height:45px;
	position:absolute;
	bottom:15px;
	left:49.5%;
	transition-duration:0.4s;
}

.main_button:hover {
	opacity:0.7;
}

.mail {
	position:absolute;
	bottom:15px;
	right:10px;
	cursor:pointer;
}

.mail > a {
	color:#fff;
}


/*sub_1*/


.sub_1 {
	width:100%;
	height:768px;
	position:relative;
}

.title {
	width:100%;
	height:120px;
}

.sub_1 h1 {
	top:7%;
	left:35%;
	letter-spacing:10px;
}

.sub_1 h2 {
	top:14%;
	left:43.5%;
	letter-spacing:3px;
}

.sub_1 > .box {
	height:648px;
}

.sub_1 img {
	width:407px;
	height:275px;
	position:absolute;
}

.sub_1_img_1 {
	top:25%;
	left:16%;
}

.sub_1_img_2 {
	top:47%;
	left:5%;
	z-index:-7;
}

.sub_1_img_3 {
	top:54%;
	left:40%;
	z-index:-8;
}

.sub_1 p {
	top:32%;
	left:57%;
	line-height:2;
	font-family:궁서체;
	font-size:18px;
}

/*sub_2*/

.sub_2 {
	background:url(img/sub_3_background.png) no-repeat center;
	width:100%;
	height:768px;
	text-align:center
}

.sub_2 h1 {
	position:unset;
	line-height:2.5;
}

.sub_2 h2, .sub_2 p {
	position:unset;
}

.sub_2 > .box {
	margin-top:60px;
	line-height:2.5;
}

.sub_2 p {
	margin:30px;
}


/*sub_3*/

.sub_3 {
	width:100%;
	height:768px;
	background:url(img/sub_backgroundImg.png) no-repeat center;
	position:relative;
	color:#fff;
}

.sub_3 h1 {
	top:44%;
	left:38%;
}

.sub_3 p {
	top:52%;
	left:39.5%;
	letter-spacing:1px;
}

.jsScroll {
	opacity:0;
	transition-duration:3s;
}

/*sub_4*/

.sub_4 {
	width:100%;
	height:5050px;
	background:#f2f2f2;
	position:relative;
}

.p {
	font:16px Malgun Cothic;
}

.sub_4 h1 {
	line-height:1.5;
}

.sub_4 h1, .sub_4 p {
	position:unset;
}

.background {
	width:90%;
	height:96%;
	background:#fff;
	position:absolute;
	top:1%;
	left:5%;
	border-radius:10px;
	padding-top:7%;
}

.jsImg {
	transition-duration:1s;
	cursor:pointer;
}

.jsImg:hover {
	transform:scale(1.1);
}

.sub_4 img, .sub_4 .text {
	width:465px;
	height:305px;
	text-align:center;
}

.sub_4 .box {
	width:85%;
	height:350px;
	margin:0% 7% 3% 7%;
}


.sub_4 .text {
	line-height:2.5;
	display:flex;
	align-items:center;
	justify-content:center;
}

.sub_4 .left {
	float:left;
}

.sub_4 .right {
	float:right;
}

.p_text {
	line-height:2.5;
}

/*box_2*/

.box_2 h1 {
	font-size:30px;
}

.title_2 {
	width:95%;
	height:80px;
	margin:0 0 2% 5%;
	line-height:2;
}

.title_2 p {
	margin-left:40px;
}

.background_gray {
	background:#f2f2f2;
	width:99.8%;
	height:310px;
	position:relative;
	border:1px solid #fff;
	margin-bottom:7%;
}

.background_gray img, .square, .jsBox {
	width:265px;
	height:205px;
	position:absolute;
	top:18%;
	cursor:pointer;
}


.square {
	background:#fff;
	top:15%;
}

.f{
	left:5%;
}

.f_img {
	left:6%;
}

.t {
	left:37.5%;
}

.t_img {
	left:38.5%;
}

.th {
	right:7%;
}

.th_img {
	right:6%;
}

.jsBox {
	background:#000;
	opacity:0;
	transition-duration:1s;
}

.jsText {
	position:absolute;
	color:#fff;
	top:50%;
	opacity:0;
	transition-duration:1s;
	letter-spacing:10px;
}

.fText {
	left:15%;	
}

.tText {
	left:47%;
}

.thText {
	right:13.5%;
}

/*box_2_2*/

.tow > div {
	text-align:center;
	margin-top:40px;
}

.tow img {
	position:unset;
	margin-top:5px;
	padding:10px;
}

.box_2_img {
	width:60%;
	height:100%;
	float:left;
}

.box_2_text {
	width:35%;
	height:100%;
	float:left;
	line-height:2.5;
}

/*sub_5*/

.sub_5 {
	width:100%;
	height:100%;
	text-align:center;
	position:relative;
}

.sub_5 h1, .sub_5 p {
	position:unset;
}

.directions {
	width:100%;
	height:214px;
	background:url(img/sub_5_background.png) no-repeat center; 
	position:unset;
}

.directions h1, .directions p {	
	color:#fff;
} 

.directions h1 {
	padding-top:55px;
	line-height:2;
}

.box_3 {
	width:100%;
	padding-top:50px;
	height:1050px;
	background:#f2f2f2;
}

.map {
	background:#fff;
	width:65%;
	height:350px;
	display:inline-block;
}

.sub_5_textBox {
	width:57%;
	height:400px;
	display:inline-block;
	padding-top:30px;
}

.sub_5_textBox p {
	padding-top:30px;
	text-align:left;
	line-height:2.5;
}

.sub_5 .right {
	position:absolute;
	top:49%;
	right:20%;
}

.sub_5 img {
	width:250px;
	height:180px;
	border:2px solid #fff;
	position:absolute;
	bottom:10%;
	right:18%;
	cursor:pointer;
}

.small {
	font-size:13px;
}


/*footer*/

footer {
	width:100%;
	height:180px;
	padding-top:40px;
	background:#222;
	color:#fff;
	text-align:center;
	position:relative;
}

.footer_box {
	width:65%;
	display:inline-block;
	text-align:left;
}

footer p {
	text-align:left;
	margin-top:40px;
	line-height:2;
	font-size:12px;
}

.orange {
	bottom:5%;
	right:30%;
	color:#fb7813;
}

.me {
	right:1%;
	bottom:6%;
	line-height:1;
	font-size:13px;
}

/*sub_6*/

.sub_6 {
	width:100%;
	height:768px;
	background:#f2f2f2;
	position:absolute;
	top:0;
	left:0;
	text-align:center;
}

.sub_6 h3 {
	font-size:40px;
	padding:30px;
}

.sub_6 img {
	width:650px;
	height:450px;
	margin-top:80px;
}

/*remocon*/

.remote {
	width:130px;
	height:200px;
	background:#222;
	border-radius:5px;
	border:1px solid #fff;
	position:fixed;
	top:40%;
	right:5%;
	text-align:center;
	padding:10px;
	font-size:17px;
	opacity:0;
	transition-duration:1s;
	color:#fff;
}

.remote button {
	border:none;
}

.remote > div {
	width:100%;
	height:25%;
}

.remote button {
	width:25px;
	height:25px;
	border-radius:50%;
	margin:5px;
	cursor:pointer;
}

.btn {
	line-height:3.5;
	margin-top:13px;
}

.audio > div {
	float:left;
	padding-top:30px;
	cursor:pointer;
}

.btnRemote {
	width:50px;
	height:50px;
	position:fixed;
	bottom:5%;
	right:1%;
	padding:15px 10px;
	cursor:pointer;
	transition-duration:1s;
	z-index:9;
}

.btnRemote img {
	width:100%;
	height:100%;
}

.jsVolume {
	margin-top:10px;
}

.close {
	position:absolute;
	right:5px;
	top:0;
	background:#222;
	color:red;
	font-size:24px;

}
/*800*/

@media(max-width:800px) {

/*main*/

.logo {
	display:none;
}

header {
	padding:0;
}

.menu {
	width:100%;
	height:60px;
	line-height:2.5;
	margin:0;
	float:none;
}

.main_box > h1 {
	left:38%;
}

.main_box h2 {
	left:41.5%;
}

/*sub_1*/

.sub_1 h2 {
	top:17%;
	left:27%;
}

.sub_1_img_2, .sub_1_img_3 {
	display:none;
}

.sub_1 img {
	width:100%;
	height:100%;
	left:0;
}

.sub_1 p {
	top:30%;
	left:20%;
	text-align:center;
}

/**/

}

